.navbar-custom {
    background-image: url('../../assets/nav.png');
    margin: 0;
    /* Usunięcie marginesów */
    padding: 0;
    /* Usunięcie paddingów */
    width: 100%;
    height: 120px;
}

.navbar-nav{
    color: white !important;
}
