.item {
    top: 15%;
    display: flex;
    position: relative;
}

.details {
    flex: 1;
    margin-left: 1rem;
}

i {
    display: flex;
    place-items: center;
    place-content: center;
    width: 32px;
    height: 32px;
    transition: 0.3s;
    color: grey;
}

i:hover {
    background-color: grey;
}

h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.4rem;
    color: grey;
}